In [6]:
import pandas as pd
import numpy as np

In [7]:
# load the dataset
data = pd.read_csv("../data/raw/agric_survey_data.csv")

In [8]:
# display the first few rows of the dataset
data.head()

,Unnamed: 0,Field_ID,Elevation,Latitude,Longitude,Location,Slope,Rainfall,Min_temperature_C,Max_temperature_C,Ave_temps,Soil_fertility,Soil_type,pH,Pollution_level,Plot_size,Annual_yield,Crop_type,Standard_yield
0,0,40734,786.05580,-7.389911,-7.556202,Rural_Akatsi,14.795113,1125.2,-3.1,33.1,15.00,0.62,Sandy,6.169393,0.085267,1.3,0.751354,cassava,0.577964
1,1,30629,674.33410,-7.736849,-1.051539,Rural_Sokoto,11.374611,1450.7,-3.9,30.6,13.35,0.64,Volcanic,5.676648,0.399684,2.2,1.069865,cassava,0.486302
2,2,39924,826.53390,-9.926616,0.115156,Rural_Sokoto,11.339692,2208.9,-1.8,28.4,13.30,0.69,Volcanic,5.331993,0.358029,3.4,2.208801,tea,0.649647
3,3,5754,574.94617,-2.420131,-6.592215,Rural_Kilimani,7.109855,328.8,-5.8,32.2,13.20,0.54,Loamy,5.328150,0.286687,2.4,1.277635,cassava,0.532348
4,4,14146,886.35300,-3.055434,-7.952609,Rural_Kilimani,55.007656,785.2,-2.5,31.0,14.25,0.72,Sandy,5.721234,0.043190,1.5,0.832614,wheat,0.555076

In [9]:
# display the shape of the dataset
data.shape

(5654, 19)

In [10]:
# display the columns of the dataset
data.columns

Index(['Unnamed: 0', 'Field_ID', 'Elevation', 'Latitude', 'Longitude',
       'Location', 'Slope', 'Rainfall', 'Min_temperature_C',
       'Max_temperature_C', 'Ave_temps', 'Soil_fertility', 'Soil_type', 'pH',
       'Pollution_level', 'Plot_size', 'Annual_yield', 'Crop_type',
       'Standard_yield'],
      dtype='object')

In [11]:
# select the unwanted columns
col = [
    "Unnamed: 0",
    "Field_ID",
    "Location",
    "Soil_fertility",
    "Pollution_level",
    "Plot_size",
    "Annual_yield",
]

In [12]:
def drop_columns(data, columns_to_drop):
    """
    Removes specified columns from a DataFrame.

    Parameters:
    -----------
    data : pandas.DataFrame
        The input DataFrame from which columns need to be dropped.

    columns_to_drop : list
        A list of column names to be removed from the DataFrame.

    Returns:
    --------
    pandas.DataFrame
        A new DataFrame with the specified columns removed.

    Raises:
    -------
    KeyError:
        If any of the columns in `columns_to_drop` are not present in the DataFrame.
    """
    try:
        return data.drop(columns=columns_to_drop, axis=1)
    except KeyError as e:
        print(f"Error: {e}. Please check that all columns exist in the DataFrame.")
        raise

In [13]:
for c in col:
    data = drop_columns(data, c)

In [14]:
data.head()

,Elevation,Latitude,Longitude,Slope,Rainfall,Min_temperature_C,Max_temperature_C,Ave_temps,Soil_type,pH,Crop_type,Standard_yield
0,786.05580,-7.389911,-7.556202,14.795113,1125.2,-3.1,33.1,15.00,Sandy,6.169393,cassava,0.577964
1,674.33410,-7.736849,-1.051539,11.374611,1450.7,-3.9,30.6,13.35,Volcanic,5.676648,cassava,0.486302
2,826.53390,-9.926616,0.115156,11.339692,2208.9,-1.8,28.4,13.30,Volcanic,5.331993,tea,0.649647
3,574.94617,-2.420131,-6.592215,7.109855,328.8,-5.8,32.2,13.20,Loamy,5.328150,cassava,0.532348
4,886.35300,-3.055434,-7.952609,55.007656,785.2,-2.5,31.0,14.25,Sandy,5.721234,wheat,0.555076

In [15]:
# display the shape of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5654 entries, 0 to 5653
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Elevation          5654 non-null   float64
 1   Latitude           5654 non-null   float64
 2   Longitude          5654 non-null   float64
 3   Slope              5654 non-null   float64
 4   Rainfall           5654 non-null   float64
 5   Min_temperature_C  5654 non-null   float64
 6   Max_temperature_C  5654 non-null   float64
 7   Ave_temps          5654 non-null   float64
 8   Soil_type          5654 non-null   object
 9   pH                 5654 non-null   float64
 10  Crop_type          5654 non-null   object
 11  Standard_yield     5654 non-null   float64
dtypes: float64(10), object(2)
memory usage: 530.2+ KB

In [16]:
data = data.to_csv("../data/processed/agric_survey_data_cleaned.csv", index=False)